@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.intro {
  height: 100%;
  width: 100%;
  margin: auto;
  background-color: white;
  top: 0;
}

.AboutMe, .information {
  height: 100%;
  width: 100%;
  margin: auto;
  background-color: white;
  top: 0;
}

.portfolio {
  width: 100%;
  margin-top: auto;
  background-color: #f8f8f6;
  display: table;
  top: 0;
  overflow: scroll;
}

.left-box {
  float: left;
  width: 66.65%;
  height: 100%;
  background: url(https://imagizer.imageshack.com/v2/1024x768q90/923/3WTLcE.png) no-repeat 50% 50%;
  opacity: 0.9;
  text-align: CENTER;
  font-size: 50px;
  font-family: 'Amatic SC', cursive;
  color: white;
}
.right-box_1 {
  float: left;
  width: 33.3%;
  height: 33.3%;
  background: url("http://www.misucell.com/data/out/5/IMG_63143.png");
  opacity: 0.5;
  text-align: center;
  font-size: 200%;
  font-family: 'Ubuntu', sans-serif;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-box_1:hover {
  color: black;
}
.item {
  max-width: 100%;
}

.right-box_2 {
  float: left;
  width: 33.3%;
  height: 33.3%;
  background: url("https://upload.wikimedia.org/wikipedia/commons/6/60/Single_Color_Flag_-_0087DC.png");
  opacity: 0.9;
  text-align: center;
  font-size: 200%;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-box_2:hover {
  color: black;
}
.right-box_3 {
  float: left;
  width: 33.3%;
  height: 33.3%;
  background: url("https://www.interpon.com/medias/?context=bWFzdGVyfHJvb3R8MTA2fGltYWdlL2pwZWd8aDg2L2gyMy84Nzk5NDYzNzY4MDk0LmpwZ3wwOTA0MjNiNjQwNzhiMGM2NjUyMGU4YTcxN2Y2MDI1NTI5ZTBmM2IxOTRjNWEyZGUzYTZkMDdhYjU5MGE2YzY4");
  opacity: 0.9;
  color: white;
  text-align: center;
  font-size: 200%;
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-box_3:hover {
  color: black;
}
.btn {
  z-index: 1;
}
.photo {
  float: left;
  margin-left: 3rem;
  margin-top: 5rem;
  width: 30%;
  padding: 10px;
  height: 70%;
  background-image: url("https://imagizer.imageshack.com/v2/1024x768q90/921/ymx58T.jpg");
}
.profile-bio {
  float: right;
  width: 60%;
  text-align: left;
  color: black;
  font-family: 'Amatic SC', cursive;
}
.explanation {
  font-family: 'Crimson Text', serif;
}
.skill {
  float: left;
  width: 50%;
  background-color: white;
  opacity: 0.9;
  text-align: center;
  font-size: 40px;
  font-family: 'Crimson Text', serif;
  color: black;
}
.contact {
  float: left;
  width: 50%;
  background-color: white;
  opacity: 0.9;
  text-align: center;
  font-size: 40px;
  font-family: 'Crimson Text', serif;
  color: black;
}
.school {
  float: left;
  width: 50%;
  background-color: white;
  opacity: 0.9;
  text-align: center;
  font-size: 40px;
  font-family: 'Crimson Text', serif;
  color: black;
}
.experience {
  float: left;
  width: 50%;
  background-color: white;
  opacity: 0.9;
  text-align: center;
  font-size: 40px;
  font-family: 'Crimson Text', serif;
  color: black;
}
.title {
  float:left;
  width:100%;
  height:10%;
}

.card {
    width: 80%;
    height: 70%;
    border-radius: .5rem;
    cursor: pointer;
    border: .1rem solid lightgray;
    box-shadow: 0 0 1rem 0 rgba(black, .05);
    transition: box-shadow 200ms, transform 200ms;
    overflow: scroll;
    margin-left: -15px;
  }

.card:hover {
        transform: translateY(-.5rem);
        box-shadow: 0 0 2rem 0 rgba(black, .1);
    }

.card-img {
        display: block;
        border-radius: .5rem .5rem 0 0;
        width: 100%;
        height: 50%;
    }

.card-body {
        padding: 1rem;
    }

.card-title {
        font-weight: 500;
        font-size: 1.2rem;
        font-family: 'Ubuntu', sans-serif;
    }

.card-text {
        margin-top: .3rem;
        opacity: .8;
        font-size: 1.1rem;
        font-family: 'Crimson Text', serif;
    }

.overview {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-row-gap: 1rem;
    justify-items: stretch;
    align-items: start;
    padding: 3rem 2rem;
    width: 100%;
}

/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-linkedin {
    color: #4875B4
}
.fa-github {
    color: black;
}
.fa-envelope {
    color: grey;
}


@media screen and (max-width: 600px) {
  .left-box, .AboutMe, .information, .skill, .contact,
  .school, .experience, .profile-bio, .card, .intro
  {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .photo
  {
    width: 90%;
    margin-left: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .profile-bio
  {
    width: 90%;
    margin-left: 1rem;
  }
}
